.auth__form-input {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  height: 43px;
  width: 100%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #ccc;
}